/* =====================================================================================================================
                                                  About us 
==================================================================================================================== */
.main_about {
  color: var(--primary-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about_text {
  margin-left: 2rem;
  border: inset 0.5rem rgb(246, 245, 244);
  border-radius: 4rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main_about h2 {
  color: var(--about-head);
  font-size: 2.5rem;
}
.main_about p {
  color: var(--primary-text);
  font-size: 1rem;
}
.about_img img {
  width: 50vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* =====================================================================================================================
                                      ----------<Responsiveness>---------
====================================================================================================================  */
@media only screen and (max-width: 600px) {
  /* CSS rules for mobile devices goes here */
  /* About us */
  .about_text {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    border: inset 0.3rem rgb(246, 245, 244);
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .main_about h2 {
    font-size: 1.09rem;
  }
  .main_about p {
    font-size: 1.01rem;
  }
  .about_img img {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  /* CSS rules for tablets goes here */
  /* About us */
  .about_text {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 3rem;
    border: groove 0.5rem #f7f5f5;
    padding: 1.3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .main_about h2 {
    font-size: 2rem;
    text-align: center;
  }
  .main_about p {
    font-size: 1.5rem;
    text-justify: inter-word;
    text-align: justify;
  }
  .about_img img {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  /* CSS rules for large PCs goes here */
  /* About us */
  .about_text {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 3rem;
    border: groove 0.5rem #f7f5f5;
    padding: 1.3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .main_about h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .main_about p {
    font-size: 1.2rem;
    text-justify: inter-word;
    text-align: justify;
  }
}
