/* =====================================================================================================================
  Internal CSS and Category CSS
  ==================================================================================================================== */
.title {
  border: outset 0.5rem rgb(155, 148, 155);
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10vh;
  width: fit-content;
}
.title h1 {
  font-size: 4.5rem;
  color: var(--primary-text);
  padding: 1rem;
}
.blog-item {
  display: flex;
  justify-content: space-between;
  height: 60vh;
  width: 70vw;
  background-color: var(--slider-color);
  border-radius: 3rem;
  margin: 0 auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  box-shadow: 15px 15px 15px rgb(117, 112, 112);
}
.img-part {
  height: 100%;
  width: 40%;
}
.img-part img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  object-position: center;
}
.text-part {
  height: 100%;
  width: 60%;
}
.text-part1 {
  height: 90%;
}
.text-part1 a {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
.text-part1 p {
  font-size: 1.5rem;
  padding: 1rem;
}
.text-part2 {
  height: 10%;
}
/*-----------------------> Internal Blogs <---------------------------------*/
.blog_body {
  margin: 1.25rem;
}
.blog_body h1 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  color: var(--h1-color);
}
.blog_body h2 {
  color: var(--h2-color);
  font-weight: 1000;
  margin-left: 2.3rem;
  padding-top: 0.5rem;
  /* padding: 0.5rem; */
}
.blog_body p {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--para-color);
  text-align: justify;
  text-justify: inter-word;
}
#img_poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.poster {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}
.poster p {
  padding-top: 3rem;
  padding-right: 5rem;
}
.poster img {
  float: right;
  width: 30%;
  height: 30%;
  max-width: 100%;
  border-radius: 1.2rem;
  margin-top: 8vh;
  margin-right: 0vw;
  box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
}

.poster1 img {
  float: left;
  width: 30%;
  max-width: 100%;
  border-radius: 1.2rem;
  margin-top: 4vh;
  margin-left: 2vw;
  margin-right: 4vw;
  margin-bottom: 8vh;
  box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
}

/* <------ Categories------>*/
.image {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
.image img {
  border-radius: 2rem;
  width: 50%;
  height: 60vh;
}
/* Astronomy */
/*<---- aurora ----> */
.auroras {
  display: flex;
  align-content: center;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3rem;
}
.auroras h3 {
  color: var(--h3-color);
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
  text-align: center;
}
.north {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#north_head {
  display: flex;
  justify-content: center;
  align-content: center;
}
#north_img {
  display: flex;
  justify-content: center;
  align-content: center;
}
#north_img img {
  height: 55vh;
  width: 55vh;
  border-radius: 2rem;
}
.south {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#south_head {
  display: flex;
  justify-content: center;
  align-content: center;
}
#south_img {
  display: flex;
  justify-content: center;
  align-content: center;
}
#south_img img {
  height: 55vh;
  width: 55vh;
  border-radius: 2rem;
}

/* ========================================================================================================
                                            <Responsiveness>
=========================================================================================================*/

@media only screen and (max-width: 600px) {
  /* CSS rules for mobile devices goes here */
  .title {
    border: outset 0.25rem rgb(155, 148, 155);
    border-radius: 1.75rem;
    margin-top: 5vh;
  }
  .title h1 {
    font-size: 2.25rem;
    padding: 0.7rem;
  }
  .blog-item {
    height: 30vh;
    width: 90vw;
    border-radius: 1.5rem;
    margin-top: 6.2vh;
    margin-bottom: 6.2vh;
    box-shadow: 10px 10px 10px rgb(117, 112, 112);
  }
  .img-part img {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  .text-part1 a {
    font-size: 0.8rem;
    padding-top: 0.3rem;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 0.3rem;
  }
  .text-part1 p {
    font-size: 0.62rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0rem;
    text-justify: inter-word;
    text-align: justify;
  }
  .text-part2 a {
    font-size: 0.6rem;
  }
  /*-----------------------> Internal Blogs <---------------------------------*/
  .blog_body h1 {
    font-size: 1.45rem;
    font-weight: 900;
    padding: 1rem;
  }
  .blog_body h2 {
    font-weight: 700;
    margin-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  .blog_body p {
    font-size: 1rem;
    padding: 0.5rem;
    padding-right: 1rem;
  }
  .poster {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
  }
  .poster p {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
  }
  .poster img {
    float: right;
    width: 70%;
    max-width: 100%;
    border-radius: 1.2rem;
    margin: 0 auto;
    box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
    margin-bottom: 1.5rem;
  }

  .poster1 img {
    width: 40%;
    max-width: 100%;
    border-radius: 1.2rem;
    margin-top: 4vh;
    margin-left: 4vw;
    margin-right: 6vw;
    margin-bottom: 4vh;
    box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
  }
  /* <------ Categories------>*/
  .image img {
    width: 95%;
    height: 50vh;
  }
  /* Astronomy */
  /*<---- aurora ----> */
  .auroras {
    margin-bottom: 1.5rem;
  }
  .auroras h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .north,
  .south {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  #north_head,
  #south_head {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #north_img,
  #south_img {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #north_img img,
  #south_img img {
    height: 30.5vh;
    width: 27vh;
    border-radius: 2rem;
    padding: 2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  /* CSS rules for tablets goes here */
  .title {
    border: outset 0.5rem rgb(155, 148, 155);
    border-radius: 2rem;
    margin-top: 5vh;
  }
  .title h1 {
    font-size: 4em;
    padding: 0.7rem;
  }
  .blog-item {
    height: 30vh;
    width: 90vw;
    border-radius: 2.5rem;
    margin-top: 6.2vh;
    margin-bottom: 6.2vh;
  }
  .img-part img {
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
  }
  .text-part1 a {
    font-size: 1.25rem;
    padding-top: 0.3rem;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 0.3rem;
  }
  .text-part1 p {
    font-size: 1.12rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0rem;
    text-justify: inter-word;
    text-align: justify;
  }
  .text-part2 a {
    font-size: 1rem;
  }
  .card-button {
    height: 2.1rem;
  }
  /*-----------------------> Internal Blogs <---------------------------------*/
  .blog_body h1 {
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem;
  }
  .blog_body h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .blog_body p {
    font-size: 1.7rem;
    padding: 0.5rem;
    padding-right: 1rem;
  }
  .poster {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
  }
  .poster p {
    padding-top: 1.7rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
  }
  .poster img {
    float: right;
    width: 70%;
    max-width: 100%;
    border-radius: 1.2rem;
    margin: 0 auto;
    box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
    margin-bottom: 1.5rem;
  }

  .poster1 img {
    width: 40%;
    max-width: 100%;
    border-radius: 1.2rem;
    margin-top: 4vh;
    margin-left: 4vw;
    margin-right: 6vw;
    margin-bottom: 4vh;
    box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
  }
  /* <------ Categories------>*/
  .image img {
    width: 95%;
    height: 50vh;
  }
  /* Astronomy */
  /*<---- aurora ----> */
  .auroras {
    margin-bottom: 1.5rem;
  }
  .auroras h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .north,
  .south {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  #north_head,
  #south_head {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #north_img,
  #south_img {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #north_img img,
  #south_img img {
    height: 30.5vh;
    width: 27vh;
    border-radius: 1rem;
    padding: 2rem;
  }
}

@media only screen and (min-width: 1800px) {
  /* CSS rules for large PCs goes here */
  .title {
    border: outset 0.7rem rgb(155, 148, 155);
    border-radius: 2.7rem;
    margin-top: 7vh;
  }
  .title h1 {
    font-size: 4.5rem;
    padding: 1rem;
  }
  .blog-item {
    height: 70vh;
    width: 80vw;
    border-radius: 3.5rem;
    margin-top: 12vh;
    margin-bottom: 12vh;
    box-shadow: 20px 20px 20px rgb(117, 112, 112);
  }
  .img-part img {
    border-top-left-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
  }
  .text-part1 {
    height: 90%;
  }
  .text-part1 a {
    font-size: 4rem;
    padding-top: 0.7rem;
  }
  .text-part1 p {
    font-size: 2.5rem;
    padding: 1rem;
  }
  .text-part2 {
    height: 10%;
  }
  .text-part2 a {
    font-size: 2.8rem;
  }
  .card-button {
    height: 4.3rem;
  }
  /*-----------------------> Internal Blogs <---------------------------------*/
  .blog_body {
    margin: 1.25rem;
  }
  .blog_body h1 {
    font-size: 4.9rem;
    padding: 2rem;
  }
  .blog_body h2 {
    font-weight: 1000;
    margin-left: 2.3rem;
    padding-top: 0.5rem;
    font-size: 3.5rem;
  }
  .blog_body p {
    font-size: 1.9rem;
  }
  .poster p {
    padding-top: 3rem;
    padding-right: 3rem;
    font-size: 1.9rem;
  }
  .poster img {
    float: right;
    width: 30%;
    height: 30%;
    max-width: 100%;
    border-radius: 1.2rem;
    margin-top: 8vh;
    margin-right: 3vw;
    box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
  }
  .poster1 img {
    float: left;
    width: 30%;
    max-width: 100%;
    border-radius: 1.2rem;
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 4vw;
    margin-bottom: 8vh;
    box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
  }
  /* <------ Categories------>*/
  .image {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    height: 100%;
    width: 100%;
  }
  .image img {
    border-radius: 2rem;
    width: 50%;
    height: 60vh;
  }
  /* Astronomy */
  /*<---- aurora ----> */
  .auroras {
    display: flex;
    align-content: center;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3rem;
  }
  .auroras h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .north {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  #north_head {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #north_img {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #north_img img {
    height: 55vh;
    width: 55vh;
    border-radius: 2rem;
    padding-right: 1rem;
  }
  .south {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  #south_head {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #south_img {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #south_img img {
    height: 55vh;
    width: 55vh;
    border-radius: 2rem;
  }
}
