/* =====================================================================================================================
                                                        Contact us 
 ==================================================================================================================== */
.container-fluid {
  height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #474747;
}
.pt-5 {
  padding-top: 3rem;
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  height: 70vh;
}
.contact-left-title h2 {
  font-weight: 600;
  color: var(--primary-text);
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 4vh;
}
.contact-left-title hr {
  border: none;
  width: 7.5rem;
  height: 0.2rem;
  background-image: linear-gradient(to right, purple, #f97489);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.contact-inputs {
  width: 25rem;
  height: 4rem;
  border: none;
  border: 0.125rem solid black;
  outline: none;
  padding-left: 4rem;
  font-weight: 500;
  color: #584747;
  border-radius: 8rem;
}
.contact-left textarea {
  width: 30rem;
  height: 15rem;
  padding-top: 2rem;
  border-radius: 1.2rem;
}
.contact-inputs:focus {
  border: 0.125rem solid #4fb0ff;
}
.contact-inputs::placeholder {
  color: #1a1313;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: #fff;
  gap: 0.5rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}
.contact-left button img {
  height: 1rem;
}
.contact-right img {
  padding:2rem;
  height: 50vh;
}

/*====================================================================================================================
                                          ----------<Responsiveness>--------- 
 ====================================================================================================================*/
@media only screen and (max-width: 600px) {
  /* CSS rules for mobile devices goes here */
  /* Contact us */
  form {
    padding-top: 0%;
    margin: 0 auto;
  }
  ::placeholder {
    font-size: 0.5rem;
  }
  .container-fluid {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left:15%;
  }
  .contact-left {
    height: 55vh;
    width: 100%;
  }
  .contact-left-title h2 {
    font-size: 1.5rem;
  }
  .contact-left-title hr {
    width: 4.5rem;
  }
  .contact-inputs {
    width: 50%;
    padding-left: 1rem;
  }
  .contact-left textarea {
    width: 70%;
  }
  .contact-left button {
    display: flex;
    align-items: center;
    height: 0.5rem;
    width: 5rem;
  }
  .contact-left button img {
    height: 1rem;
  }
  .contact-right img {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  /* CSS rules for tablets goes here */
  /* Contact us */
  form {
    margin: 0 auto;
  }
  ::placeholder {
    font-size: 1rem;
  }
  .container-fluid {
    padding-left: 15%;
    padding-bottom: 5%;
  }
  .contact-left {
    height: 55vh;
    width: 100%;
  }
  .contact-left-title h2 {
    font-size: 2.6rem;
  }
  .contact-left-title hr {
    width: 8.5rem;
  }
  textarea {
    height: 30vh;
  }
  .contact-inputs {
    width: 40%;
    padding-left: 1rem;
  }
  .contact-left textarea {
    width: 60%;
    height: 20vh;
  }
  .contact-left button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 15vw;
    font-size: 1rem;
  }
  .contact-left button img {
    height: 3rem;
  }
  .contact-right img {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  /* CSS rules for large PCs goes here */
  form {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .form ::placeholder {
    font-size: 1.2rem;
  }
  .contact-left {
    height: 70vh;
  }
  .contact-left-title h2 {
    font-size: 3.1rem;
  }
  .contact-left-title hr {
    width: 9rem;
  }
  .contact-input {
    height: 4rem;
  }
  input[type="message"] {
    height: 10rem;
    width: 15rem;
  }
  .contact-left .contact-left button {
    font-size: 1.2rem;
  }
  .contact-right img {
    height: 60vh;
  }
}
