/* ====================================================================================================================
                                              Add  a Blog
==================================================================================================================== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.523);
}
.container h2 {
  margin-bottom: 20px;
  color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
}
.form-group {
  margin-bottom: 20px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(56, 56, 56);
}
.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-grpup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  height: 10rem;
  width: 28rem;
  resize: none;
}
.container button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 16px;
}
.container button:hover {
  background-color: #45a049;
}
/* ========================================================================================================
                                            <Responsiveness>
=========================================================================================================*/
@media only screen and (max-width: 600px) {
  /* CSS rules for mobile devices goes here */
  .container {
    margin: 1rem;
    border-radius: 2rem;
  }
  .container h2 {
    font-size: 1.9rem;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .container button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea {
    height: 10rem;
    width: 19rem;
    resize: none;
  }
  .container button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 16px;
  }
  .container button:hover {
    background-color: #45a049;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* CSS rules for tablets goes here */
  .container {
    border-radius: 2rem;
  }
  .container h2 {
    font-size: 3rem;
  }
  .form-group {
    margin-bottom: 1.5rem;
  }
  .form-group label {
    font-size: 1.2rem;
  }
  .form-group input[type="text"] {
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    font-size: 1.2rem;
  }
  .form-group input[type="email"] {
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    font-size: 1.2rem;
  }
  .form-gorup input[type="password"] {
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    font-size: 1.1rem;
  }
  #password {
    border: 0.2rem solid #ccc;
    font-size: 1.2rem;
  }
  textarea .container button {
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    font-size: 1.2rem;
  }
  textarea {
    height: 10rem;
    width: 29rem;
    resize: none;
    font-size: 1.2rem;
    border: 0.2rem solid #ccc;
  }
  .container button {
    font-size: 1.5rem;
  }
  .container button:hover {
    background-color: #45a049;
  }
}
@media only screen and (min-width: 1025px) {
  /* CSS rules for large PCs goes here */
  .container {
    border-radius: 3rem;
  }
  .container h2 {
    font-size: 3.5rem;
  }
  .form-group {
    margin-bottom: 2rem;
  }
  .form-group label {
    font-size: 1.5rem;
  }
}
