* {
  font-family: system-ui;
}

.details {
  color: #f4f4f9;
  font-family: system-ui;

  font-size: 1vh;
  font-weight: 500;
}

h2 {
  color: var(--h1-color);
  text-justify: inter-word;
  text-align: justify;
}

.title {
  padding: 7px 12px;
  font-size: 4vw;
}

.full_blog_content {
  padding: 2px 22px;
  margin: 5px;
  font-size: 2vw;
  border-radius: 5px;
  font-weight: 500;
}
.details h2 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--para-color);
}

.full_blog_image {
  background-color: rgba(0, 0, 0, 0.568);
  float: right;
  width: 30%;
  height: 30%;
  max-width: 100%;
  border-radius: 1.2rem;
  margin-top: 10vh;
  margin-right: 2vw;
  margin-left: 4vw;
  box-shadow: 8px 5px 10px 10px rgb(117, 112, 112);
}

.button {
  text-align: center;
  background-color: #ff0000a8;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s;
  height: 7vh;
  width: 7vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.button:hover {
  background-color: #5f5f5f;
}

.button_goback {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}